@model CarViewModel

@{
	ViewBag.Title = "Машины";
	var pagedList = Html.PagedList(Model.carModel.PagesInfo.ItemsCount, Model.carModel.PagesInfo.ItemsPerPage, Model.carModel.PagesInfo.CurrentPage,
		Model.carModel.PagesInfo.DisplayedPages, pageNumber => Url.Action(Url.GetAction(), new
		{
			page = pageNumber
		}), new PagedListExtensions.PagedListRenderParams());
}

<div class="row">
	<div class="col-md-12">
		<div class="card mb-3">
			<div class="card-body">
				<a asp-action="Update" class="btn btn-outline-primary">Добавить</a>
			</div>
		</div>
	</div>
</div>

<div class="row">
	<div class="col-md-12">
		@pagedList
	</div>
</div>

<div class="row">
	<div class="col-md-12">
		<div class="table-responsive">
			<table class="table table-striped">
				<tr>
					<th class="text-center">ID</th>
					<th class="text-center">Модель</th>
					<th class="text-center">Год выпуска</th>
					<th class="text-center">Пробег</th>
					<th class="text-center">Клиент</th>
					<th class="text-center">Действия</th>
				</tr>
				@foreach (var car in Model.carModel.Objects)
				{
                    var client = Model.clientModel.Objects.Where(client => client.ClientId == car.ClientId).ToList();
                    <tr>
						<td class="text-center">
                            @car.CarId
                        </td>
                        <td class="text-center">
                            @car.Model
                        </td>
                        <td class="text-center">
                            @car.Year
                        </td>
                        <td class="text-center">
                            @car.Mileage
                        </td>
                        <td class="text-center">
                            @Html.Raw(string.Join(", ", client.Select(s => string.Format("{0}", s.Name))))
                        </td>
                        <td class="text-center">
                            <a asp-action="Update" asp-route-id="@car.CarId">Изменить</a><br />
                            <a asp-action="Delete" asp-route-id="@car.CarId" class="delete-object-button">Удалить</a>
                        </td>
					</tr>
				}
			</table>
		</div>
	</div>
</div>

<div class="row">
	<div class="col-md-12">
		@pagedList
	</div>
</div>
